<p>
After using webpack for the the frontend, you realize that you really want it for the backend (node or io.js) too.
</p>
<p>
Node and io.js do have native modules. The problem is that they have no infrastructure for doing anything with them. Projects like gulp try to fill this gap, but since they aren't module-based they only help with simple tasks like transforming files. Broccoli is a build tool that understands the importance of dealing with trees instead of files, but because they don't explicitly embrace modules it's still too much work to do anything.
</p>
<p>
Besides, do you really want to maintain two completely separate build tools when they are solving the same problem? I've done this (I had a gulp setup), and it feels hilariously redundant.
</p>
<p>
<strong>There's no reason not to use webpack</strong> for node/io.js code, and let me tell you, it's amazing. I'm going to show you, in a few posts, how to do it. This is part one.
</p>
<p>
    More:
</p>
<li><a href="http://jlongster.com/Backend-Apps-with-Webpack--Part-I">
    Backend-Apps-with-Webpack--Part-I
</a></li>
<li><a href="http://jlongster.com/Backend-Apps-with-Webpack--Part-II">
    Backend-Apps-with-Webpack--Part-II
</a></li>
<li><a href="http://jlongster.com/Backend-Apps-with-Webpack--Part-III">
    Backend-Apps-with-Webpack--Part-III
</a></li>