@import "global.css";

.card {
    display: inline-block;
    background-color: $background-color_-_feature;
    color: $color_-_feature;
    margin-right: 6px;
    margin-bottom: 6px;
    vertical-align: top;
    border-radius: 6px;
    text-decoration: none;
}

.container {
    display: table;
    width: 190px;
    height: 190px;
}

.sub-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
}

.icon-container {

}

.text-container {

}

.icon:global(.fa) {
    font-size: 40pt;
    margin-bottom: 10px;
}

.details {
    margin-bottom: 20px;
}

.caption {
    font-weight: bold;
    margin-bottom: 10px;
}