$mobile-width: 920px;

$background-color_-_menu__top-bar: #4A4A4A;
$border-color_-_menu: #CCCCCC;
$color_-_navigation: #4A4A4A;
$color_-_navigation-delimiter: #CCCCCC;
$color_-_navigation--active: #F88E1D;
$color_-_logo__name--colored: #F88E1D;
$color_-_logo__auth: #F88E1D;
$background-color_-_feature: #4A4A4A;
$color_-_feature: #FFFFFF;
$color_-_font: #4A4A4A;
$color_-_locale: #4A4A4A;
$color_-_locale--active: #F88E1D;
$color_-_details__caption: #F88E1D;
$background-color_-_mit-licence: #eeeeee;