@import "global.css";

.root {
    border-bottom-style: solid;
    border-bottom-color: $border-color_-_menu;
    border-bottom-width: 1px;
}

.container {
    display: table;
    width: 100%;
    height: 66px;
}

@media (max-width: $mobile-width) {
    .container {
        display: block;
        height: auto;
    }
}

.top-bar {
    background-color: $background-color_-_menu__top-bar;
    height: 25px;
}